{% extends 'layout.html.twig' %}

{% block title %}Bienvenue sur Car Storing{% endblock %}
{% block stylesheets %}
<link href="../public/css/bootstrap.css"  type="text/css" rel="stylesheet"/>
{% endblock %}

{% block contenu %}
    <h1 class="text-muted text-center mt-5">Bienvenue sur l'application Car Storing !</h1>
{% endblock %}

